.green-rule {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -1rem;
    background-color: $green-lime-light;
    width: 3rem;
    height: 10rem;
    opacity: 0;
    transform: translateY(1rem);
    transition: opacity .5s, transform .5s;
  }

  &__hero {
    @extend .green-rule;
    &::before {
      left: -2rem;
      height: 3rem;
      bottom: calc(100% + 3rem);
    }
  }

  &__article {
    @extend .green-rule;
    &::before {
      bottom: calc(100% - 3rem);
    }
  }

  &__tabs {
    @extend .green-rule;
    &::before {
      left: -3rem;
      bottom: calc(100% - 2.5rem);
    }
  }

  &.in-viewport {
    &::before {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // Mobile - large
  @media only screen and (min-width: 640px) {
    &__hero {
      &::before {
        left: -2rem;
        bottom: calc(100% + 4.5rem);
      }
    }
  }

  // Tablet
  @media only screen and (min-width: 768px) {
    &::before {
      left: 1.5rem;
    }

    &__hero {
      &::before {
        height: 6rem;
        left: 0;
        bottom: calc(100% + 4rem)
      }
    }

    &__article {
      &::before {
        left: 2rem;
        bottom: calc(100% - 5rem);
      }
    }

    &__tabs {
      &::before {
        left: 0;
      }
    }
  }

  // Desktop
  // @media only screen and (min-width: 1024px) {
  //   &::before {
  //     height: 10rem;
  //   }
  // }


  // Destop - wide
  @media only screen and (min-width: 1280px) {
    &::before {
      left: 5.5rem;
      height: 12rem;
    }

    &__article {
      &::before {
        left: 5.5rem;
      }
    }
  }
}