table {
  border-collapse: collapse;

  tbody {
    tr:not(:last-child) {
      th {
        border: 2px solid $green-button;
      }

      td {
        border: 2px solid $green-button;
      }
    }

    tr {
      th, td {
        padding: 0.25rem 0.5rem;
        width: 50%;
      }

      th {
        width: clamp(200px, 35vw, 600px);

        &:first-child {
          text-align: left;
        }
      }

      td {
        text-align: right;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    thead th[scope="col"]:not(.active),
    tbody td:not(.active) {
      display: none;
    }
  }

  @media only screen and (min-width: 768px) {
    tr {
      th, td {
        padding: 0.5rem 1rem;
        
        &:first-child {
          width: 40%;
        }

        &:not(:first-child) {
          width: 20%;
        }
      }
    }
  }
}

nav.table-years {
  button {
    text-decoration: 1px underline;

    &:hover {
      text-decoration: 2px underline;
    }
  }
}