table {
  border-collapse: collapse;

  tbody {
    tr:not(:last-child) {
      th {
        border: 2px solid $green-button;
      }

      td {
        border: 2px solid $green-button;
      }
    }

    tr {
      th {
        width: clamp(200px, 35vw, 600px);

        &:first-child {
          text-align: left;
        }
      }

      td {
        text-align: right;
      }
    }
  }

  @media only screen and (min-width: 640px) {
    tr {
      th {
        padding: 0.25rem;
      }
      td {
        padding: 0.25rem;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    thead th[scope="col"]:not(.active),
    tbody td:not(.active) {
      display: none;
    }
  }

  @media only screen and (min-width: 768px) {
    tr {
      th {
        padding: 0.5rem 1rem;
      }
      td {
        padding: 0.5rem 1rem;
      }
    }
  }
}