// Simple Animation Library
@import 'sal.js/dist/sal.css';

// Theme styles
@import 'base/colors';
@import 'base/type';
@import 'components/article';
@import 'components/button';
@import 'components/rule';
@import 'components/table';
@import 'layouts/goal';
@import 'layouts/hero';
@import 'layouts/leadership';
@import 'layouts/supporters';


body {
  a {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: underline 2px;
    }
  }
}

@media only screen and (max-width: 639px) {
  .header .social-icons {
    display: none;
  }
}

.social-link {
  header & {
    fill: $blue;
  }

  footer & {
    fill: $white;
  }
}

.right {
  & > div  {
    justify-content: flex-end;
  }
}

label[for=mce-email] {
  text-align: left;
}