.leadership  {
  .grid {
    gap: 2rem;
  }

  .leader {
    &__inner {
      display: grid;
      grid-template-rows: auto 1fr;
    }

    &.img-top {
      .leader__img {
        padding-bottom: clamp(275px, 80%, 400px);
      }

      img {
        object-fit: cover;
        border-radius: clamp(50px, 50%, 7rem);
      }
    }

    &.img-bottom {
      .leader__img {
        padding-bottom: clamp(150px, 60%, 200px);
      }

      img {
        object-fit: contain;
        object-position: left;
      }
    }
  }

  @media only screen and (min-width: 848px) {
    .leader {
      &__inner {
        max-width: 230px;
        margin: 0 auto;
      }

      &.img-top {
        .leader__img {
          padding-bottom: clamp(200px, 70%, 300px);
        }
      }

      &.img-bottom {
        .leader__img {
          padding-bottom: clamp(140px, 50%, 200px);
        }
      }
    }

    & > div > .grid {
      grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));

      .leader:not(:first-child) {
        position: relative;

        &::before {
          content: '';
          height: 100%;
          width: 1px;
          position: absolute;
          top: 0;
          left: -1rem;
          background: #000;
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    .leader {
      &__inner {
        max-width: 280px;
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .leader {
      &__inner {
        max-width: 350px;
      }
    }
  }

  @media only screen and (min-width: 1450px) {
    .leader {
      &__inner {
        max-width: 405px;
      }
      &:last-child {
        .leader__bio {
          & > p {
            word-spacing: 1px;
          }
        }
      }
    }
  }
}